<section class="hero">
  <h2>Come and Log Your Fitness Goals </h2>
  <h2>With Gym Diary</h2>
  <h3>Already a member of our community? <a href="">Sign In</a></h3>

  <div>
    <a class="img-fluid homepage-image" href=""><img src="https://i.imgur.com/JIhRReH.png" title="source: imgur.com" /></a>
    <a class="img-fluid homepage-image" href=""><img src="https://i.imgur.com/EwYWhpe.png" title="source: imgur.com" /></a>
  </div>
  <div class="hero-stats">
    <p>Test</p>
  </div>
  

</section>

<section class="popular-exercises">
  <p>Popular Exercises</p>
  <div class="workout-cards">
    <a href="#"><img src="https://i.imgur.com/u8XEbdu.png" title="source: imgur.com" /></a>
    <a href="#"><img src="https://i.imgur.com/cAv16rV.png" title="source: imgur.com" /></a>
    <a href="#"><img src="https://i.imgur.com/AaTKpl8.png" title="source: imgur.com" /></a>
  </div>
</section>








{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}
</body>

<footer>
  <span class="f-about">
    <h3>About</h3>
    <ul>
      <li><a href="">Github.com</a></li>
      <li><a href="">Github.com</a></li>
      <li><a href="">Github.com</a></li>
    </ul>
  </span>
  <span class="f-exercises">
    <h3>Exercises</h3>
    <ul>
      <li><a href="">Github.com</a></li>
      <li><a href="">Github.com</a></li>
      <li><a href="">Github.com</a></li>
    </ul>
  </span>
  <span class="f-developers">
    <h3>Meet the devs</h3>
    <ul>
      <li><a href="">Github.com</a></li>
      <li><a href="">Github.com</a></li>
      <li><a href="">Github.com</a></li>
    </ul>
  </span>

</footer>
