   
   <div class="log-container fluid" 
   <p class="log-date">Date: <span id="date-log"></span>
            </p>
   <div class="log-details">
            <p class="exercise-log">Exercise: <span id="exercise-log"></span>
            </p>
             <p class="reps-log">Reps: <span id="reps-log"></span>
            </p>
             <p class="sets-log">Sets: <span id="sets-log"></span>
            </p>
             <p class="weight-log">Weight: <span id="weight-log"></span>
            </p>
             <p class="cals-log">Estimated Calories Burned:  <span id="cals-log"></span>
            </p>
        </div>


        <script src="./js/diary.js"></script>