<section class="hero">
  <h2>Come and Log Your Fitness Goals {{user.Name}}</h2>
  <h2>With Gym Diary</h2>
  {{#unless logged_in}}
  <h3>Not a member of our community? <a href="/signup">Sign up</a></h3>
  {{/unless}}

  <div class="homepage-img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIBbw3m9i5P-Ham5C0OH2lR9ReZQP-GYd3tA&usqp=CAU" class="img-fluid" alt="people running in gym image" height="300" width="1000"> 
  </div>

{{!-- empty gym image option --}}
  {{!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfvfxtZxWka6j0Pz6kMu6JwgXbO22fYrsNSA&usqp=CAU --}}


<section class="youtube-api">
  <p class="player-text">Recommended Exercises</p>
  <iframe id="player" type="text/html" width="640" height="390"
  src="https://www.youtube.com/embed/WBm7reVcWlM?start=1&autoplay=1" title="YouTube video player" frameborder="0" style="border: solid 6px #faa23d"></iframe>
  <button id="workout-video-btn">Change Video</button>
</section>

{{!-- <div id="player"></div> --}}


{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}
</body>

<footer>
  <span class="f-home">
    <h3><a href="/">Home</a></h3>
  </span>
  <span class="f-exercises">
   <h3><a href="/login">Log</a></h3>
  </span>
   <span class="f-exercises">
   <h3><a href="/diary">Diary</a></h3>
  </span>
  <span class="f-GitHub">
    <h3><a href="https://github.com/ItzDerian/gym-diary.git" target="_blank" >Support</a></h3>
  </span>
</footer>

 <script src="./js/youtubescript.js"></script>