<section class="hero">
  <h2>Come and Log Your Fitness Goals {{user.Name}}</h2>
  <h2>With Gym Diary</h2>

  <h3>Already a member of our community? <a href="/login">Sign In</a></h3>

  <div class="homepage-img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIBbw3m9i5P-Ham5C0OH2lR9ReZQP-GYd3tA&usqp=CAU" class="img-fluid" alt="people running in gym image" height="300" width="1000"> 
  </div>

{{!-- empty gym image option --}}
  {{!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfvfxtZxWka6j0Pz6kMu6JwgXbO22fYrsNSA&usqp=CAU --}}


<section class="youtube-api">
  <p class="player-text">Recommended Exercises</p>
  <iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
  frameborder="0" style="border: solid 6px #faa23d"></iframe>
</section>

{{!-- <div id="player"></div> --}}


{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}
</body>
<h2 class ="text-center">Hello - {{user.name}}<span>Week XXXX</span></h2>
<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <button class=" text-center p-5 border bg-light">Weight</button>
    </div>
    <div class="col">
      <button class=" text-center p-5 border bg-light">Log</button>
    </div>
    <div class="col">
      <button class="text-center p-5 border bg-light">Log</button>
    </div>
  </div>
</div>

<article class="card">
  <div class="d-grid gap-2 card text-white bg-primary">
  <button class="btn btn-primary" type="button">Recommended Workout Based on Chosen Goal</button>
  <button class="btn btn-primary" type="button">Create New Log</button>
</div>

</article>
<div class="container">
   <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <button class="text-center p-5 border bg-light">Log</button>
    </div>
    <div class="col">
      <button class="text-center p-5 border bg-light">Log</button>
    </div>
    <div class="col">
      <button class="text-center p-5 border bg-light">Log</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <button class=" text-center p-5 border bg-light">Log</button>
    </div>
    <div class="col">
      <button class=" text-center p-5 border bg-light">Log</button>
    </div>
    <div class="col">
      <button class="text-center p-5 border bg-light">Log</button>
    </div>
  </div>
</div>

<footer>
  <span class="f-home">
    <h3><a href="/">Home</a></h3>
  </span>
  <span class="f-exercises">
   <h3><a href="/login">Log</a></h3>
  </span>
   <span class="f-exercises">
   <h3><a href="">Diary</a></h3>
  </span>
  <span class="f-GitHub">
    <h3><a href="https://github.com/ItzDerian/gym-diary.git" target="_blank" >Support</a></h3>
  </span>
</footer>

 <script src="./js/youtubescript.js"></script>