<section class="hero">
  <h2>Come and Log Your Fitness Goals {{user.Name}}</h2>
  <h2>With Gym Diary</h2>
  <h3>Already a member of our community? <a href="/login">Sign In</a></h3>

  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgAM6ta_MI3CKb0lUh7kI-X4yUY7jGcycLkA&usqp=CAU" alt="homepage-image" height="300" width="1000">
{{!-- <style>
  {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgAM6ta_MI3CKb0lUh7kI-X4yUY7jGcycLkA&usqp=CAU");
}
</style> --}}
  </div>
  {{!-- <div class="hero-stats">
    <p>Test</p> --}}
  </div>
</section>

<section class="recommended-exercises">
  <p>Recommended Exercises</p>
  <div class="workout-cards">
    <a href="#"><img src="https://i.imgur.com/u8XEbdu.png" title="source: imgur.com" /></a>
    <a href="#"><img src="https://i.imgur.com/cAv16rV.png" title="source: imgur.com" /></a>
    <a href="#"><img src="https://i.imgur.com/AaTKpl8.png" title="source: imgur.com" /></a>
  </div>
</section>

<section class="daily-logs">
  <p>Daily Workouts</p>
  <div class="workout-cards">
    <a href="#"><img src="https://i.imgur.com/u8XEbdu.png" title="source: imgur.com" /></a>
    <a href="#"><img src="https://i.imgur.com/cAv16rV.png" title="source: imgur.com" /></a>
    <a href="#"><img src="https://i.imgur.com/AaTKpl8.png" title="source: imgur.com" /></a>
  </div>
</section>


{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}
</body>

<footer>
  <span class="f-home">
    <h3><a href="/">Home</a></h3>
  </span>
  <span class="f-exercises">
   <h3><a href="/login">Log</a></h3>
  </span>
  <span class="f-GitHub">
    <h3><a href="https://github.com/ItzDerian/gym-diary.git" target="_blank" >Support</a></h3>
  </span>

</footer>
