{{!-- <div class="row">
    <Section>
        <div >
            <p>LOG A</p>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">+</button>
        </div>
    </section>

    <Section>
        <div>
            <p>Exercise</p>
            <form>

            </form>
        </div>

        <div>
            <p>Sets</p>
            <form>

            </form>
        </div>

        <div>
            <p>Reps</p>
            <form>

            </form>
        </div>

        <div>
            <p>Calories Burned:</p>
        </div>
    </section>
</div> --}}

<form class="forming">
        <div class="form-group ">
            <label for="wName">What Workout Did You Do?</label>
            <input type="text" class="form-control" id="wName" placeholder="Name of Workout">
        </div>
        <div class="form-group">
            <label for="RepsDone">How Many Reps Did You Do?</label>
            <input type="number" class="form-control" id="RepsDone" placeholder="Number of Reps">
        </div>
        <div class="form-group">
            <label for="SetsDone">How many sets?</label>
            <input type="number" class="form-control" id="SetsDone" placeholder="Number of Sets">
        </div>
        <p>Estimated Calories Burned :</p>
        <button type="button" class="btn btn-primary">Submit Workout</button>
    </form>