{{!-- <div class="row">
    <Section>
        <div >
            <p>LOG A</p>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">+</button>
        </div>
    </section>

    <Section>
        <div>
            <p>Exercise</p>
            <form>

            </form>
        </div>

        <div>
            <p>Sets</p>
            <form>

            </form>
        </div>

        <div>
            <p>Reps</p>
            <form>

            </form>
        </div>

        <div>
            <p>Calories Burned:</p>
        </div>
    </section>
</div> --}}

<form class="forming">
        <div class="form-group ">
            <label for="exerciseName">What Exercise Did You Do?</label>
              <select name="Exercise" id="Exercise">    
    <option value="Situps">Situps</option>
    <option value="Crunches">Crunches</option>
    <option value="Pullups" >Pullups</option>
     <option value="Pushups">Pushups</option>
    <option value="Lunges">Lunges</option>
    <option value="Running up stairs" >Running up stairs</option>       
     <option value="Jump Rope" >Jump Rope</option>  
  </select>
  {{!-- <input type="text" class="form-control" id="wName" placeholder="Name of Workout"> --}}
        </div>
        <div class="form-group">
            <label for="RepsDone">How Many Reps Did You Do?</label>
            <input type="number" class="form-control" id="RepsDone" placeholder="Number of Reps">
        </div>
        <div class="form-group">
            <label for="SetsDone">How many sets?</label>
            <input type="number" class="form-control" id="SetsDone" placeholder="Number of Sets">
        </div>
        <div class="form-group">
            <label for="Weight">What is your weight today?</label>
            <input type="number" class="form-control" id="Weight" placeholder="Number in lbs">
        </div>
        <p class="calBurned">Estimated Calories Burned<span id="calBurned"></span></p>
        <button type="button" class="btn btn-primary submit-workout-btn">Submit Workout</button>
    </form>

    <script src="./js/logscript.js"></script>