<div class="row">
    <Section>
        <div >
            <p>LOG A</p>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">+</button>
        </div>
    </section>

    <Section>
        <div>
            <p>Exercise</p>
            <form>

            </form>
        </div>

        <div>
            <p>Sets</p>
            <form>

            </form>
        </div>

        <div>
            <p>Reps</p>
            <form>

            </form>
        </div>

        <div>
            <p>Calories Burned:</p>
        </div>
    </section>
</div>