<div>
  <form class="forming new-project form">
        <div class="form-group ">
            <label for="exerciseName">What Exercise Did You Do?</label>
              <select name="Exercise" id="Exercise">    
    <option value="Situps">Situps</option>
    <option value="Crunches">Crunches</option>
    <option value="Pullups" >Pullups</option>
     <option value="Pushups">Pushups</option>
    <option value="Lunges">Lunges</option>
    <option value="Running up stairs" >Running up stairs</option>       
     <option value="Jump Rope" >Jump Rope</option>  
  </select>
  {{!-- <input type="text" class="form-control" id="wName" placeholder="Name of Workout"> --}}
        </div>
        <div class="form-group">
            <label for="RepsDone">How Many Reps Did You Do?</label>
            <input type="number" class="form-control" id="RepsDone" placeholder="Number of Reps">
        </div>
        <div class="form-group">
            <label for="SetsDone">How many sets?</label>
            <input type="number" class="form-control" id="SetsDone" placeholder="Number of Sets">
        </div>
        <div class="form-group">
            <label for="Weight">What is your weight today?</label>
            <input type="number" class="form-control" id="Weight" placeholder="Number in lbs">
        </div>
        <p class="calBurned">Estimated Calories Burned<span id="calBurned"></span></p>
        <button type="submit" class="btn btn-primary submit-workout-btn">Submit Workout</button>
  </form>
</div>

{{!--<div>
  {{#if submit-workout-btn}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each logs as |log|}}
    <div class="row mb-2">
      <div clsas ="col-md-8">
        <h4><a href="/log/{{log.id}}">{{log.Sets}} </a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{log.sets}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>--}}

<script async src="./js/logscript.js"></script>
