* {
  padding: 0.2em;
}

body {
  text-decoration: none;
  background-color: #58c8d9;
}

nav {
  text-decoration: none;
}

a {
  text-decoration: none;
}
.nav-item {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
}

.btn-login {
  background: #e86f23; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faa23d,
    #e86f23
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faa23d,
    #e86f23
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

.btn-rounded {
  border-radius: 35px;
}

section {
  background-color: #58c8d9;
  margin-left: 10em;
  font-family: 'Barlow Condensed', sans-serif;
}

.homepage-img img {
  border: solid 6px #faa23d;
  border-radius: 25px;
}

.player-text {
  color: #fff;
  font-size: 32px;
  text-decoration: underline;
}

#player {
  border: solid 6px #faa23d;
  border-radius: 25px;
}

footer {
  padding: 2em 4em;
  background: linear-gradient(to bottom, #faa23d, #e86f23);
  flex: 1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 4em;
  align-items: start;
  font-size: 16px;
}

footer ul {
  list-style: none;
}

.forming {
  padding: 10px 30px 30px 10px;
  margin: auto;
  border-radius: 25px;
  border: 2px;
  border-style: solid;
  width: 30%;
  align-content: center;
}

.login {
  margin: 2em;
  border-radius: 25px;
  border: 2px;
  border-style: solid;
  width: 30%;
  align-content: center;
}

.signup {
  margin: 2em;
  border-radius: 25px;
  border: 2px;
  border-style: solid;
  width: 30%;
  align-content: center;
}

.log-container {
  padding: 10px 30px 30px 10px;
  margin: auto;
  border-radius: 25px;
  border: 2px;
  border-style: solid;
  width: 30%;
  align-content: center;
}